{% load static %}

<html>
  <head>
    <title>Video Collection</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="{% static '/css/style.css' %}"
      type="text/css"
    />
  </head>

  <body>
    {% include 'video_collection/navbar.html' %}
    <!-- all child template -->
    {% block content %} {% endblock %}
  </body>
</html>
