{% extends 'video_collection/base.html' %} {% load static %} {% block content %}
<style>
  .delete {
    margin-left: 1rem;
  }
  .delete:hover {
    background-color: red;
  }
</style>
<h3><a href="{{ video.url }}" target="_blank">{{ video.name }}</a></h3>
<p>{{ video.notes }}</p>
<iframe
  width="420"
  height="315"
  src="https://youtube.com/embed/{{ video.video_id }}"
></iframe>
<p>
  <a href="{{ video.url }}">{{ video.url }}</a>
</p>
<form action="{% url 'delete_video' video.pk %}" method="POST">
  {% csrf_token %}
  <!--using the request object meta-data(information sent with the req). 
    redirects to the previous page if alert is cancel -->
  <a href="{{ request.META.HTTP_REFERER }}">Go Back</a>
  <button type="submit" class="delete">Delete</button>
</form>
<script src="{% static 'js/delete_btn.js' %}"></script>
{% endblock %}
