{% extends 'video_collection/base.html' %} {% block content %}

<h2>Video List</h2>

<h3>Search</h3>

<form method="GET" action="{% url 'video_list' %}">
  {{ search_form }}
  <button type="submit">Search!</button>
</form>

<a href="{% url 'video_list' %}">
  <button>Clear Search</button>
</a>

<h3>{{ videos|length }} video{{ videos|length|pluralize }}</h3>

{% for video in videos %}

<div>
  <span id="video-name-{{ video.pk }}" class="video-name">
    <a href="{% url 'video_details' video_pk=video.pk %}">
      {{ video.name }}</a
    ></span
  >
</div>

{% empty %}

<p>No videos.</p>

{% endfor %} {% endblock %}
