body {
  /* background-color: lightblue; */
  font-size: large;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}

.navigation > a {
  color: rgb(255, 255, 255);
  padding-right: 30px;
}
