@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  font-family: "Poppins";
}
body {
  width: 100vw;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 4rem;
}
.nav > a {
  color: rgb(141, 174, 141);
}

.delete {
  margin-left: 1rem;
}
.delete:hover {
  background-color: red;
}
